<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REVENUECAT_API_KEY</key>
	<string>YOUR_REVENUECAT_PUBLIC_KEY</string>
	<key>REVENUECAT_ENTITLEMENT_ID</key>
	<string>premium</string>
	<key>PREMIUM_PRODUCT_ID</key>
	<string>lokus_premium_annual</string>
	<key>ADMOB_APPLICATION_ID</key>
	<string>ca-app-pub-8420759480841389~4251401464</string>
	<key>ADMOB_BANNER_AD_UNIT_ID</key>
	<string>ca-app-pub-8420759480841389/8590523185</string>
	<key>ADMOB_INTERSTITIAL_AD_UNIT_ID</key>
	<string>ca-app-pub-8420759480841389/4095488798</string>
	<key>ADMOB_REWARDED_AD_UNIT_ID</key>
	<string>ca-app-pub-8420759480841389/2782407128</string>
	<key>ADMOB_NATIVE_ADVANCED_AD_UNIT_ID</key>
	<string>ca-app-pub-8420759480841389/4930058315</string>
	<key>GEO_BACKEND_URL</key>
	<string>http://127.0.0.1:8000</string>
</dict>
</plist>
